@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Philosopher:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Philosopher', sans-serif; */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #EAEAEA;
}

nav {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 22px;
}

a {
    color: #101010;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    text-decoration: none;
}

.karzinka-like {
    width: 100px;
    height: 50px;
    padding-left: 500px;
    align-items: center;
}

img {
    padding-left: 75px;
}

.Iphone {
    width: 1200px;
    height: 197px;
    border-radius: 30px;
    background: #101010;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    margin: auto;
    display: flex;
    justify-content: space-around;
}

h1 {
    width: 343px;
    height: 74px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.iPhone-1 {
    width: 321px;
    height: 226px;
    margin-top: -12px;
}

.Iphone2 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 350px;
    height: 407.647px;
    background: #FFF;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.img {
    width: 151px;
    height: 292px;
    padding-top: 25px;
}

h3 {
    color: #838383;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 44px;
    margin-left: 160px;
    margin-bottom: 20px
}

h2 {
    margin-left: 80px;
    margin-top: 20px;
    color: #1C1C27;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Naushnik1 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.malumot {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

}

.malumot2 {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;

}

.like_left {
    margin-top: 20px;
    margin-left: -50px;
}

.like_right {
    margin-top: -20px;
    margin-left: 220px;
}

p {
    color: #1C1C27;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

b {
    color: #FFA542;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.star2 {
    color: #838383;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: -30px;
    margin-left: -100px;
}

.star3 {
    width: 20px;
    height: 18px;
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
}

.star {
    display: flex;
    padding-left: -45px;
}

.Naushnik-1 {
    padding-top: 10px;
}

.Naushnik-3 {
    padding-top: 3px;
}

.pp {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Naushnik-2 {
    padding-top: 50px;
}

.Naushnik-9 {
    padding-top: 0px;
    width: 54%;
}

.Naushnik2 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.under {
    margin: auto;
    width: 1200px;
    height: 149px;
    margin-top: 60px;
    border-radius: 30px 30px 0px 0px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);


}

.text {
    width: 120px;
    height: 10px;
    color: #101010;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 20px;

}

.gg {
    color: #000;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
}

.inforation {
    width: 100px;
    padding-left: 400px;
}

.inforation2 {
    width: 152px;
    height: 20.798px;
    margin-left: 650px;
    margin-top: -60px;
}

.logo {
    margin-bottom: -25px;
    margin-left: -80px;
}

.text2 {
    display: flex;
    gap: 20px;
    margin-left: 30px;
    margin-top: 2px;
}

h4 {
    color: #101010;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gg2 {
    color: #FFA542;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logos {
    margin-left: 250px;
    margin-top: -200px;

}

.aa {
    color: #1C1C27;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    margin-left: 210px;
}

.tx {
    width: 445px;
    height: 513px;
    margin: auto;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    margin-left: 270px;
}

.bb {
    width: 190px;
    height: 1px;
    margin-left: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    margin-top: -20px;
}

.money {
    width: 62.193px;
    height: 10px;
    margin-top: -66px;
    margin-left: 370px;
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;

}

.region {
    margin-top: 20px;
    padding: 0px;
    margin-left: 33px;
}

.vector {
    margin-left: -40px;
    margin-top: 20px;
}

.adres {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 146.25px;
    height: 18px;
    margin-top: -83px;
    margin-left: 60px;

}

.inputlar {
    margin: auto;
}

.input1 {
    width: 368.867px;
    height: 45px;
    border-radius: 15px;
    background: #D6D6D6;
    border: none;
    margin-left: 35px;
    margin-top: 10px;

}

.input2 {
    width: 368.867px;
    height: 45px;
    border-radius: 15px;
    background: #D6D6D6;
    border: none;
    margin-left: 35px;
    margin-top: 10px;
}

.input3 {
    width: 164.06px;
    height: 45px;
    border-radius: 15px;
    background: #D6D6D6;
    border: none;
    margin-left: 35px;
    margin-top: 10px;
}

.input4 {
    width: 164.06px;
    height: 45px;
    border-radius: 15px;
    background: #D6D6D6;
    border: none;
    margin-left: 35px;
    margin-top: 10px;
}

.input5 {
    width: 164.06px;
    height: 45px;
    border-radius: 15px;
    background: #D6D6D6;
    border: none;
    margin-left: 35px;
    margin-top: 10px;
}

.right_card {
    width: 444.439px;
    height: 155px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    margin-top: -498px;
    margin-left: 500px;
}

.right_card2 {
    width: 444.439px;
    height: 127px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    margin-top: 19px;
    margin-left: 500px;
}

.right_card3 {
    width: 444.439px;
    height: 123px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    margin-top: 26px;
    margin-left: 500px;
}

.right_card4 {
    width: 444.439px;
    height: 45px;
    border-radius: 30px;
    background: black;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    margin-top: 23px;
    margin-left: 500px;
    color: #FFF;
}

.end {
    width: 417.626px;
    height: 1px;
    color: #FFF;
    /* text-align: center; */
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 100px;
    
}